/* #region page */
.page {
  font-family: Cinzel, serif;
  font-style: normal;
  color: #161616;
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/header-bg-mobile.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  gap: 104px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../images/icon/icon-phone.png);
}

.icon--menu {
  background-image: url(../images/icon/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../images/icon/icon-close.png);
}

.header__bottom {
  padding-inline: 20px;
}

.header__title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
}

/* #endregion */

/* #region menu */
.top-bar {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.menu__top {
  margin-bottom: 15px;
}

.menu__nav {
  margin-bottom: 32px;
}

.menu-content {
  padding-inline: 20px;
}

.menu__phone-number {
  color: inherit;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__phone-number:first-of-type {
  margin-bottom: 8px;
}

.menu__cta {
  margin-top: 16px;
  color: inherit;
  padding-bottom: 7px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

/* #endregion */

/* #region nav */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

/* #endregion */
